// editar-produtos.scss

// Estilos para o elemento raiz <div>
.editar-produtos-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .editar-produtos-title {
    font-size: 28px;
    margin: 10px 0;
    color: #333;
  }
  
  // Estilos para o formulário de edição
  .editar-produtos-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .editar-produtos-fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .editar-produtos-legend {
    font-size: 20px;
    color: #555;
  }
  
  .editar-produtos-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .editar-produtos-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .editar-produtos-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editar-produtos-button:hover {
    background-color: #0056b3;
  }
  