// produtos.scss

// Estilos para o elemento raiz <div>
.produtos-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .produtos-title {
    font-size: 28px;
    margin: 10px 0;
    color: #333;
  }
  
  // Estilos para a lista de produtos
  .produtos-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .produtos-item {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .produtos-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
  }
  
  .produtos-info {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .produtos-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .produtos-button:hover {
    background-color: #0056b3;
  }
  